body{
    margin: 30px;
    background-color: black;
    color: white;
    font-size: larger;
}
.btn{
    padding:13px;
    font-size: 1.1rem;
    padding:13px 59px;
}
#clear-btn{
    padding:13px 59px;
    background-color: black;
    color: whitesmoke;
    /* padding-left: 70px; */
}